


/* NAVBAR AND TOGGLER */


a.navbar-brand{
    color: rgb(223, 211, 146); 
}
.navbar-toggler-icon{
    color: red;
}
#socials {
    background-color: rgb(73, 73, 73);
    width: inherit;
    height: 50px;
    position: relative;
    top: 295px;
}

#socials i {
    padding: 5px 40px;
    color: rgb(223, 211, 146);
    position: relative;
    top: 10px;
}
#fa-circle-user{
    position: relative;
    left: 145px;
}



/* MAIN BODY */
body {
    background: rgba(2, 15, 0, 0.877);
}


#box-1 {
    max-width: 350px;
    height: 25rem;
    background-color: #fff;
    position: relative;
    left: 20px;
    top: 1100px;
    border-radius: 8px;
}

#h1 {
    text-align: center;
    background-color: #000;
    color: rgb(223, 211, 146);
    height: 30%;
    border-radius: 7px 7px 0 0;
}

#h1 h1 {
    padding: 15px 15px;
}

#h2 {
    padding: 5px 15px;
}

#p {
    padding: 15px 15px;
    text-align: left;
}

#box-1 a {
    text-decoration: none;
    color: #00f;
    padding: 20px 0 0 15px;
    position: relative;
    top: -18px;
}


#box-2 {
    max-width: 350px;
    height: 25rem;
    background-color: #fff;
    position: relative;
    right: -20px;
    top: -350px;
    border-radius: 8px;
}

#h1 {
    text-align: center;
    background-color: #000;
    color: rgb(223, 211, 146);
    height: 30%;
    border-radius: 7px 7px 0 0;
}

#h1 h1 {
    padding: 15px 15px;
}

#h2 {
    padding: 5px 15px;
}

#p {
    padding: 15px 15px;
    text-align: left;
}

#box-2 a {
    text-decoration: none;
    color: #00f;
    padding: 20px 0 0 15px;
    position: relative;
    top: -18px;
}


#box-3 {
    max-width: 350px;
    height: 25rem;
    background-color: #fff;
    position: relative;
    right: -20px;
    top: -300px;
    border-radius: 8px;
}

#h1 {
    text-align: center;
    background-color: #000;
    color: rgb(223, 211, 146);
    height: 30%;
    border-radius: 7px 7px 0 0;
}

#h1 h1 {
    padding: 15px 15px;
}

#h2 {
    padding: 5px 15px;
}

#p {
    padding: 15px 15px;
    text-align: left;
}

#box-3 a {
    text-decoration: none;
    color: #00f;
    padding: 20px 0 0 15px;
    position: relative;
    top: -18px;
}

#bottom-box {
    padding: 150px 0;
}

#box-1:hover{
    cursor: pointer;
}

#box-2:hover{
    cursor: pointer;
}

#box-3:hover{
    cursor: pointer;
} 