

/* NAV BAR AND TOGGLER */

a.navbar-brand{
    color: rgb(223, 211, 146); 
}
.navbar-toggler-icon{
    color: red;
}
#socials {
    background-color: rgb(73, 73, 73);
    width: inherit;
    height: 50px;
    position: relative;
    top: 295px;
}

#socials i {
    padding: 5px 40px;
    color: rgb(223, 211, 146);
    position: relative;
    top: 10px;
}
#fa-circle-user{
    position: relative;
    left: 145px;
}


/* MAIN BODY */

body{
    background:rgba(2, 15, 0, 0.877);
    max-width: 375px;
}
* {
    box-sizing: content-box;

}

.exp{
    /* max-width: 100px; */
    color: rgb(136, 27, 27);
    text-align: center;
    position: relative;
    top: 100px;
    left: 150px;
}

#vl{
    border-right: 2px solid rgb(223, 211, 146);
    height: 670px;
    position: relative;
    margin-top: 90px; 
    left: 68px;
    top: 65px;
}

#hl-1{
    border-bottom: 2px solid rgb(223, 211, 146);
    width: 20rem;
    height: 10px;
    position: absolute;
    margin-top: 90px; 
    left: 60px;
    top: 480px;
}

#hl-2{
    border-bottom: 2px solid rgb(223, 211, 146);
    width: 20rem;
    height: 10px;
    position: absolute;
    margin-top: 90px; 
    left: 60px;
    top: 880px;
}

#hl-3{
    border-bottom: 2px solid rgb(223, 211, 146);
    width: 20rem;
    height: 10px;
    position: absolute;
    margin-top: 90px; 
    left: 60px;
    top: 1280px;
}

#hl-4{
    border-bottom: 2px solid rgb(223, 211, 146);
    width: 20rem;
    height: 10px;
    position: absolute;
    margin-top: 90px; 
    left: 60px;
    top: 1680px;
}

.fa-caret-right{
    position: absolute;
    left: 300px;
    top: 150px;
    padding-right: px;
}

.list{
    max-width: 300px;
}

.year-1{
    color: rgb(223, 211, 146);
    border: 1px solid rgb(136, 27, 27);
    background-color: rgb(136, 27, 27);
    max-width: 50px;
    padding: 10px 50px;
    position: relative;
    top: 150px;
    left: 260px;
    border-bottom:0.5px solid rgb(223, 211, 146) ;
}

.year-2{
    color: rgb(223, 211, 146);
    border: 1px solid rgb(136, 27, 27);
    background-color: rgb(136, 27, 27);
    max-width: 50px;
    padding: 10px 50px;
    position: relative;
    top: 480px;
    left: 260px;
    border-bottom:0.5px solid rgb(223, 211, 146) ;
}

.year-3{
    color: rgb(223, 211, 146);
    border: 1px solid rgb(136, 27, 27);
    background-color: rgb(136, 27, 27);
    max-width: 50px;
    padding: 10px 50px;
    position: relative;
    top: 820px;
    left: 260px;
    border-bottom:0.5px solid rgb(223, 211, 146) ;
}

.year-4{
    color: rgb(223, 211, 146);
    border: 1px solid rgb(136, 27, 27);
    background-color: rgb(136, 27, 27);
    max-width: 50px;
    padding: 10px 50px;
    position: relative;
    top: 1180px;
    left: 260px;
    border-bottom:0.5px solid rgb(223, 211, 146);
}

.list-1{
    width: 400px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 300px;
    color: rgb(223, 211, 146);
}

.list-2{
    width: 400px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 700px;
    color: rgb(223, 211, 146);
}

.list-3{
    width: 400px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 1100px;
    color: rgb(223, 211, 146);
}

.list-4{
    width: 400px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 1500px;
    color: rgb(223, 211, 146);
}

